<div class="x_panel">
    <div class="x_title">
        <h2>Listado de {{textos.tabla}}</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="btn collapse-link"><i class="fa fa-chevron-up"></i></a>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!--FILTROS--> 
    <div class="x_title filtros">
        <p class="text-center">
            <small>
                <label class="checkbox-inline" ng-repeat="col in cols">
                    <input type="checkbox" ng-model="col.show"/> {{col.title}}
                </label>
            </small>                    
        </p>
        <div class="clearfix"></div>
    </div>
    <!--TABLA DE DATOS-->
    <div class="x_content">
        <p class="text-muted font-13 m-b-30"></p>
        <div class="form-inline no-footer">
            <div class="row">
                <div class="col-sm-12 table-responsive">

                    <div ng-if="tableParams.settings().counts.length" class="paginar_resultados btn-group pull-left"> 
                        <button 
                            ng-repeat="count in tableParams.settings().counts" 
                            type="button" 
                            ng-class="{'active':tableParams.count() === count}" 
                            ng-click="tableParams.count(count)" 
                            class="btn btn-default btn-sm"> 
                            <span ng-bind="count" >{{count}}</span> 
                        </button>
                    </div>
                    <button class="btn-add btn btn-sm btn-dark pull-right b" bootstrap-tooltip title="Añadir nuevo {{textos.elemento| lowercase }}" data-toggle="modal" data-target="#crear_{{textos.elemento| lowercase }}"><i class="fa fa-plus"></i> Añadir</button>

                    <table ng-table-dynamic="tableParams with cols" show-filter="true" tracked-table="tableTracker" class="table table-condensed table-striped nowrap table-bordered hm-responsive-table">
                        <tr ng-repeat="row in $data" tracked-table-row="row">
                            <td ng-repeat="col in $columns" tracked-table-cell data-title="{{cols[$index].title}}">
                                <span ng-if="col.tipo == 'date' && row[col.field] != '0000-00-00'">{{row[col.field] | date : "dd/MM/yyyy"}}</span>
                                <span ng-if="col.tipo != 'date'">{{row[col.field]}}</span>
                                <!--BOTONES PARA LAS ACCIONES-->
                                <div ng-if="col.botones">
                                    <button class="btn btn-warning btn-sm fa fa-pencil" bootstrap-tooltip title="Editar {{textos.elemento| lowercase }}" data-toggle="modal" data-target="#editar_{{textos.elemento| lowercase }}" ng-click='editar(row)'></button>
                                    <button class="btn btn-danger btn-sm fa fa-trash" bootstrap-tooltip title="Eliminar {{textos.elemento| lowercase }}" data-toggle="modal" data-target="#eliminar_{{textos.elemento| lowercase }}" ng-click='eliminar(row)'></button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p ng-if="tableParams.data.length !== 0">Mostrando {{ (1 + tableParams.count() * tableParams.page()) - tableParams.count()}} - {{ (tableParams.page() - 1) * tableParams.count() + tableParams.data.length}} de {{ tableParams.total()}} registros</p>
                    <p ng-if="tableParams.data.length === 0">No se han encontrado resultados</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="templates.modales.add"></div>
<div ng-include="templates.modales.edit"></div>
<div ng-include="templates.modales.del"></div>