MODULE.SINPAPELES.TABLES(string)="";
MODULE.SINPAPELES.OPEN_COMMAND(string)="xdg-open {filename}";

DBDEF.FIELD.ALBARANVENTA.SINPAPELES_FILENAME.CAPTION= "Documento archivado";
DBDEF.FIELD.ALBARANVENTA.SINPAPELES_FILENAME.DESCRIPTION= "Documento archivado";
DBDEF.FIELD.ALBARANVENTA.SINPAPELES_FILENAME.WIDTH= "100";
DBDEF.FIELD.ALBARANVENTA.SINPAPELES_FILENAME.DEFAULTVALUE= "";
DBDEF.FIELD.ALBARANVENTA.SINPAPELES_FILENAME.STYLE= "";
DBDEF.FIELD.ALBARANVENTA.SINPAPELES_FILENAME.CANBENULL= "true";
DBDEF.FIELD.ALBARANVENTA.SINPAPELES_FILENAME.VISIBLE= "true";
DBDEF.FIELD.ALBARANVENTA.SINPAPELES_FILENAME.READONLY= "false";
DBDEF.FIELD.FACTURAVENTA.SINPAPELES_FILENAME.CAPTION= "Documento archivado";
DBDEF.FIELD.FACTURAVENTA.SINPAPELES_FILENAME.DESCRIPTION= "Documento archivado";
DBDEF.FIELD.FACTURAVENTA.SINPAPELES_FILENAME.WIDTH= "100";
DBDEF.FIELD.FACTURAVENTA.SINPAPELES_FILENAME.DEFAULTVALUE= "";
DBDEF.FIELD.FACTURAVENTA.SINPAPELES_FILENAME.STYLE= "";
DBDEF.FIELD.FACTURAVENTA.SINPAPELES_FILENAME.CANBENULL= "true";
DBDEF.FIELD.FACTURAVENTA.SINPAPELES_FILENAME.VISIBLE= "true";
DBDEF.FIELD.FACTURAVENTA.SINPAPELES_FILENAME.READONLY= "false";
DBDEF.FIELD.ALBARANCOMPRA.SINPAPELES_FILENAME.CAPTION= "Documento archivado";
DBDEF.FIELD.ALBARANCOMPRA.SINPAPELES_FILENAME.DESCRIPTION= "Documento archivado";
DBDEF.FIELD.ALBARANCOMPRA.SINPAPELES_FILENAME.WIDTH= "100";
DBDEF.FIELD.ALBARANCOMPRA.SINPAPELES_FILENAME.DEFAULTVALUE= "";
DBDEF.FIELD.ALBARANCOMPRA.SINPAPELES_FILENAME.STYLE= "";
DBDEF.FIELD.ALBARANCOMPRA.SINPAPELES_FILENAME.CANBENULL= "true";
DBDEF.FIELD.ALBARANCOMPRA.SINPAPELES_FILENAME.VISIBLE= "true";
DBDEF.FIELD.ALBARANCOMPRA.SINPAPELES_FILENAME.READONLY= "false";
DBDEF.FIELD.FACTURACOMPRA.SINPAPELES_FILENAME.CAPTION= "Documento archivado";
DBDEF.FIELD.FACTURACOMPRA.SINPAPELES_FILENAME.DESCRIPTION= "Documento archivado";
DBDEF.FIELD.FACTURACOMPRA.SINPAPELES_FILENAME.WIDTH= "100";
DBDEF.FIELD.FACTURACOMPRA.SINPAPELES_FILENAME.DEFAULTVALUE= "";
DBDEF.FIELD.FACTURACOMPRA.SINPAPELES_FILENAME.STYLE= "";
DBDEF.FIELD.FACTURACOMPRA.SINPAPELES_FILENAME.CANBENULL= "true";
DBDEF.FIELD.FACTURACOMPRA.SINPAPELES_FILENAME.VISIBLE= "true";
DBDEF.FIELD.FACTURACOMPRA.SINPAPELES_FILENAME.READONLY= "false";
DBDEF.FIELD.COBRO.SINPAPELES_FILENAME.CAPTION= "Documento archivado";
DBDEF.FIELD.COBRO.SINPAPELES_FILENAME.DESCRIPTION= "Documento archivado";
DBDEF.FIELD.COBRO.SINPAPELES_FILENAME.WIDTH= "100";
DBDEF.FIELD.COBRO.SINPAPELES_FILENAME.DEFAULTVALUE= "";
DBDEF.FIELD.COBRO.SINPAPELES_FILENAME.STYLE= "";
DBDEF.FIELD.COBRO.SINPAPELES_FILENAME.CANBENULL= "true";
DBDEF.FIELD.COBRO.SINPAPELES_FILENAME.VISIBLE= "true";
DBDEF.FIELD.COBRO.SINPAPELES_FILENAME.READONLY= "false";
DBDEF.FIELD.PAGO.SINPAPELES_FILENAME.CAPTION= "Documento archivado";
DBDEF.FIELD.PAGO.SINPAPELES_FILENAME.DESCRIPTION= "Documento archivado";
DBDEF.FIELD.PAGO.SINPAPELES_FILENAME.WIDTH= "100";
DBDEF.FIELD.PAGO.SINPAPELES_FILENAME.DEFAULTVALUE= "";
DBDEF.FIELD.PAGO.SINPAPELES_FILENAME.STYLE= "";
DBDEF.FIELD.PAGO.SINPAPELES_FILENAME.CANBENULL= "true";
DBDEF.FIELD.PAGO.SINPAPELES_FILENAME.VISIBLE= "true";
DBDEF.FIELD.PAGO.SINPAPELES_FILENAME.READONLY= "false";
