capel/Makefile
capel/aclocal.m4
capel/config.h
capel/config.h.in
capel/config.log
capel/config.status
capel/libtool
capel/m4/
capel/src/Makefile
capel/src/capel
capel/stamp-h1
gestiong/Debug/
gestiong/Release/
gestiong/acinclude.m4
gestiong/aclocal.m4
gestiong/config.h.in
gestiong/contab
gestiong/contactos
gestiong/dbapp
gestiong/empresa
gestiong/factu
gestiong/gonglib
gestiong/m4/
gestiong/pagos
gestiong/qt4
gestiong/reccolor
gestiong/rtk
gestiong/share/
gestiong/sinpapeles
gestiong/socias
mod/deposit
mod/editorial
mod/ofertas
mod/produccion
mod/tpv
mod/ventasweb
share/contab
share/contactos
share/empresa
share/factu
share/pagos
share/reccolor
share/share
share/sinpapeles
share/socias
