Makefile.in
Makefile
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
COPYING
compile
.anjuta_sym_db.db
acinclude.m4
aclocal.m4
config.h
config.h.in
config.log
config.status
gonglibcapel/Debug/
gonglibcapel/gonglib
gonglibcapel/share/
gonglibcapel/Makefile
gonglibcapel/libtool
gonblibcapel/src/Makefile
gonglibcapel/src/capel
gonglibcapel/stamp-h1
tests/Debug/
tests/gonglib
tests/share/
tests/src/passwords.nosvn.h
tests/httpserver
