gestiong/m4
capel/m4
gestiong/tesoreria
Makefile
share/deposit
share/gestiong
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
COPYING
compile
.anjuta_sym_db.db
capel/Debug/
acinclude.m4
aclocal.m4
capel/gonglib
capel/share/
capel/Makefile
config.h
config.h.in
config.log
config.status
capel/libtool
capel/src/Makefile
capel/src/capel
capel/stamp-h1
gestiong/Debug/
gestiong/Release/
gestiong/acinclude.m4
gestiong/aclocal.m4
gestiong/config.h.in
gestiong/contab
gestiong/contactos
gestiong/dbapp
gestiong/empresa
gestiong/factu
gestiong/gonglib
gestiong/m4/
gestiong/pagos
gestiong/qt4
gestiong/reccolor
gestiong/rtk
gestiong/share/
gestiong/sinpapeles
gestiong/socias
gestiong/gastos
mod/deposit
mod/editorial
mod/ofertas
mod/produccion
mod/tpv
mod/ventasweb
share/contab
share/contactos
share/empresa
share/factu
share/pagos
share/reccolor
share/share
share/sinpapeles
share/socias
share/ofertas
share/produccion
share/tpv
share/ventasweb
share/editorial
share/gastos
share/dbapp
share/modelosfiscales
share/tesoreria
tests/Debug/
tests/dbapp
tests/gonglib
tests/m4
tests/qt4
tests/share/
tests/src/passwords.nosvn.h

