DBDEF.VIEW.FAMILIA.POR_CÓDIGO(string) = "FAMILIA.CODIGO|w:5, FAMILIA.NOMBRE|w:20, FAMILIA.ENUSO|w:5, FAMILIA.PARATPV|w:5, FAMILIA.FRESCO|w:5, TIPOIVA.IVA|w:6, FAMILIA.NOTAS FROM FAMILIA INNER JOIN TIPOIVA ON FAMILIA.TIPOIVA_ID = TIPOIVA.ID ORDER BY FAMILIA.CODIGO";
