<div class="caja-login">
    <div class="login">
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form ng-submit="logarse(loginForm)" name="loginForm">
                        <h1>Login</h1>
                        <div>
                            <input type="email" class="form-control" placeholder="E-mail" required="required" autofocus ng-model="login.email" ng-change="login_mensaje = null" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Clave" required="required" ng-model="login.clave" ng-change="login_mensaje = null" />
                        </div>
                        <div>
                            <input type="submit" value="Acceder" class="btn btn-default submit" /> 
                            <a class="reset_pass" href="">¿Olvidaste tu clave?</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <div ng-show="login_mensaje !== null" class="alert alert-danger" role="alert">{{login_mensaje}}</div>
                            <div class="clearfix"></div>
                            <div>
                                <h1><i class="fa fa-paw"></i> {{AppTitle}}</h1>
                                <p>©2016 All Rights Reserved. {{AppTitle}}</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

