MODULE.RECCOLOR.TABLES(stringlist)="";
MODULE.RECCOLOR.COLORNAME_1(string)="Azul marino";
MODULE.RECCOLOR.COLORNAME_2(string)="Azul";
MODULE.RECCOLOR.COLORNAME_3(string)="Verde";
MODULE.RECCOLOR.COLORNAME_4(string)="Amarillo";
MODULE.RECCOLOR.COLORNAME_5(string)="Rojo";
MODULE.RECCOLOR.COLORNAME_6(string)="Gris";
MODULE.RECCOLOR.COLORNAME_7(string)="Naranja";
MODULE.RECCOLOR.COLORNAME_8(string)="Marrón";
MODULE.RECCOLOR.COLORNAME_9(string)="Violeta";
MODULE.RECCOLOR.COLORNAME_10(string)="Verde oliva";
MODULE.RECCOLOR.COLORNAME_11(string)="Amatista";
MODULE.RECCOLOR.COLORNAME_12(string)="Aguamarina";
MODULE.RECCOLOR.COLORNAME_13(string)="Plata";
MODULE.RECCOLOR.COLORNAME_14(string)="Fuchsia";
MODULE.RECCOLOR.COLORNAME_15(string)="Verde azulado";
MODULE.RECCOLOR.COLORNAME_16(string)="Verde lima";
