@mixin calc($property, $expression) { 
  #{$property}: -moz-calc(#{$expression});  
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
}

@mixin scrollbar-none() {
    overflow: -moz-scrollbars-none; 
    -ms-overflow-style: none;
}

@mixin font-smoothing($val: antialiased) {
  -webkit-font-smoothing: $val;
  -moz-font-smoothing: $val;
  -ms-font-smoothing: $val;
}

@mixin filter($val) {
  -webkit-filter: $val;
  -moz-filter: $val;
  -ms-filter: $val;
  filter: $val;
}

@mixin highlight-color($color: $brand-yellow) {
  -webkit-tap-highlight-color: $color;
  -moz-tap-highlight-color: $color;
  -ms-tap-highlight-color: $color;
  tap-highlight-color: $color;
}

@mixin user-select($val: none) {
  -webkit-user-select: $val;
  -moz-user-select: $val;
  -ms-user-select: $val;
  user-select: $val;
}

@mixin width-max-content() {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: -ms-max-content;
  width: max-content;
}

@mixin width-min-content() {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: -ms-min-content;
  width: min-content;
}

@mixin fit-content($property) { 
  #{$property}: -webkit-fit-content;
  #{$property}: -moz-fit-content;
  #{$property}: -ms-fit-content;
  #{$property}: fit-content;
}

@mixin mask($val) {
  -webkit-mask: $val;
  -moz-mask: $val;
  -ms-mask: $val;
  mask: $val;
}

@mixin mask-image($val) {
  -webkit-mask-image: $val;
  -moz-mask-image: $val;
  -ms-mask-image: $val;
  mask-image: $val;
}

@mixin mask-position($val) {
  -webkit-mask-position: $val;
  -moz-mask-position: $val;
  -ms-mask-position: $val;
  mask-position: $val;
}

@mixin mask-size($val) {
  -webkit-mask-size: $val;
  -moz-mask-size: $val;
  -ms-mask-size: $val;
  mask-size: $val;
}