.modal{
    input{
        transition:0.3s linear all;
        &.ng-invalid{
            border-color: rgba(255, 204, 204,1) ;
            background-color: rgba(255, 204, 204,0.2);
        }
        &.ng-valid{
            border-color: rgba(200, 234, 200,1) ;
            background-color: rgba(200, 234, 200,.2);
        }
        &.ng-empty{
            border-color: #ccc !important;
            background-color: #fff !important;
        }
    }
}