@charset "UTF-8";
/*! holamundo.css v0.0.1 | http://holamundo.me */
* {
  outline: none; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none; }

a:active, a:active * {
  outline: none !important;
  -moz-outline-style: none !important; }

a:focus, a:focus * {
  outline: none !important;
  -moz-outline-style: none !important; }

input {
  box-shadow: none; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

input:focus::-moz-placeholder {
  color: transparent; }

input:focus:-ms-input-placeholder {
  color: transparent; }

input:focus:-o-input-placeholder {
  color: transparent; }

textarea:focus::-webkit-input-placeholder {
  color: transparent; }

textarea:focus:-moz-placeholder {
  color: transparent; }

textarea:focus::-moz-placeholder {
  color: transparent; }

textarea:focus:-ms-input-placeholder {
  color: transparent; }

textarea:focus:-o-input-placeholder {
  color: transparent; }

*::-webkit-input-placeholder {
  color: #4e4e4e; }

*:-moz-placeholder {
  color: #4e4e4e; }

*::-moz-placeholder {
  color: #4e4e4e; }

*:-ms-input-placeholder {
  color: #4e4e4e; }

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/*::-webkit-scrollbar {
  display:none;
}*/
/*******************************************************************************/
/*****************           sin comprobar aún         *************************/
/*******************************************************************************/
map area {
  outline: none !important;
  -moz-outline-style: none !important; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset; }

.x_panel .x_title .panel_toolbox li {
  float: right !important; }

.x_panel .x_title .filtros small {
  display: block;
  line-height: 2rem; }

.x_panel .x_content table {
  margin-bottom: 20px; }
  .x_panel .x_content table thead tr.ng-table-sort-header {
    background-color: rgba(52, 73, 94, 0.94);
    color: #ECF0F1;
    border: 2px solid rgba(52, 73, 94, 0.94); }
    .x_panel .x_content table thead tr.ng-table-sort-header span::before {
      border-color: #ECF0F1 transparent; }
    .x_panel .x_content table thead tr.ng-table-sort-header span::after {
      border-color: #ECF0F1 transparent; }
  .x_panel .x_content table thead tr.ng-table-filters {
    background-color: rgba(80, 135, 149, 0.2);
    /*background-color: #D9DEE4;*/ }
    .x_panel .x_content table thead tr.ng-table-filters input {
      height: 29px;
      font-size: 13px; }
  .x_panel .x_content table tbody .editable-input {
    width: 100%; }
  .x_panel .x_content table tbody button.btn-sm {
    padding: 4px 5px; }

.x_panel .x_content .ng-table-pager ul.pagination {
  margin-bottom: 10px; }
  .x_panel .x_content .ng-table-pager ul.pagination li.active a {
    background-color: rgba(52, 73, 94, 0.94);
    color: #ECF0F1; }

.x_panel .x_content .ng-table-pager .ng-table-counts {
  display: none; }

.x_panel .x_content .selected_row {
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  /*background-color: rgba(200, 234, 200,.5);*/
  background-color: #1ABB9C;
  color: #ECF0F1; }

.x_panel .paginar_resultados, .x_panel .btn-add {
  margin-bottom: 20px; }
  @media screen and (max-width: 767px) {
    .x_panel .paginar_resultados, .x_panel .btn-add {
      margin-top: 20px; } }
  .x_panel .paginar_resultados button.active, .x_panel .btn-add button.active {
    background-color: rgba(52, 73, 94, 0.94);
    color: #ECF0F1;
    z-index: 0; }

@media only screen and (max-width: 480px) {
  .hm-responsive-table table, .hm-responsive-table thead, .hm-responsive-table tbody, .hm-responsive-table th, .hm-responsive-table td, .hm-responsive-table tr {
    display: block; }
  .hm-responsive-table thead tr {
    display: none; }
  .hm-responsive-table tr {
    border: 1px solid #ccc; }
  .hm-responsive-table td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 25% !important;
    text-align: right !important;
    min-height: 30px;
    white-space: initial !important; }
    .hm-responsive-table td:before {
      position: absolute;
      left: 6px;
      max-width: -webkit-fit-content;
      max-width: -moz-fit-content;
      max-width: fit-content;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: bold;
      content: attr(data-title);
      display: inline-table;
      font-size: x-small; } }

.modal {
  z-index: 9999; }
  .modal .modal-dialog {
    width: 800px; }
    .modal .modal-dialog .modal-header {
      background-color: #2A3F54;
      color: #ECF0F1; }
      .modal .modal-dialog .modal-header button.close {
        color: #ECF0F1; }
    .modal .modal-dialog .modal-body {
      background-color: #F7F7F7; }
      .modal .modal-dialog .modal-body .error {
        color: rgba(255, 0, 0, 0.8); }
    .modal .modal-dialog .modal-footer button {
      margin-bottom: 0; }

.modal input {
  -webkit-transition: 0.3s linear all;
          transition: 0.3s linear all; }
  .modal input.ng-invalid {
    border-color: #ffcccc;
    background-color: rgba(255, 204, 204, 0.2); }
  .modal input.ng-valid {
    border-color: #c8eac8;
    background-color: rgba(200, 234, 200, 0.2); }
  .modal input.ng-empty {
    border-color: #ccc !important;
    background-color: #fff !important; }

.ui-notification {
  border-radius: 5px !important;
  padding: 10px; }

.table-responsive {
  overflow-x: inherit; }

.tooltip {
  z-index: 10000; }
  .tooltip .tooltip-inner {
    /*background-color: #73879C;*/
    padding: 1rem 2rem; }
  .tooltip .tooltip-arrow {
    /*border-top-color: #73879C;*/ }

.left_col .profile .profile_info h2 {
  text-transform: capitalize; }

.left_col .menu_section h3 {
  padding: 10px 0 0 12px;
  line-height: 22px; }

.left_col .nav.side-menu {
  margin-top: 30px; }
  .left_col .nav.side-menu li {
    border: 0px solid #1ABB9C; }
    .left_col .nav.side-menu li i {
      -webkit-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out; }
    .left_col .nav.side-menu li:hover, .left_col .nav.side-menu li.active {
      border-right: 5px solid #1ABB9C;
      text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
      background: -webkit-linear-gradient(#334556, #2C4257), #2A3F54;
      background: linear-gradient(#334556, #2C4257), #2A3F54;
      box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0; }
      .left_col .nav.side-menu li:hover i, .left_col .nav.side-menu li.active i {
        margin-right: 6px;
        -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out; }

/*// CAMBIAMOS LA FUNCIONALIDAD POR DEFECTO DE LA PLANTILLA DE GENTELELLA PARA QUE NAV-SM EN MOVILES NO SEA VISIBLE
@media screen and (max-width: 991px){
    body.nav-sm{
        transition: all 0.3s ease-in-out;
        
        hm-left-nav{ display: none;}
        

    }
}*/
.top_nav .nav_menu {
  padding: 0 10px; }
  @media screen and (max-width: 991px) {
    .top_nav .nav_menu {
      padding: 0px; } }
  .top_nav .nav_menu .user-profile {
    text-transform: capitalize; }
  .top_nav .nav_menu ul.navbar-nav span.fa-angle-down {
    display: inline-block !important; }

.perfil_de_usuario .x_content .profile_img + h3 {
  text-transform: capitalize; }

body {
  min-height: 100vh;
  padding: 0 !important; }
  body .container .main_container {
    min-height: 100vh; }
    body .container .main_container .right_col {
      padding-top: 67px !important;
      min-height: 100vh; }
  body ng-view.ng-enter, body ng-view.ng-leave {
    -webkit-transition: all 0.4s cubic-bezier(1, 0.615, 0, 0.9);
            transition: all 0.4s cubic-bezier(1, 0.615, 0, 0.9);
    display: block;
    position: relative; }
  body ng-view.ng-enter {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
    /*transform: scale(0);*/
    opacity: 0; }
  body ng-view.ng-enter.ng-enter-active {
    opacity: 1;
    /*transform: scale(1);*/ }
  body ng-view.ng-leave.ng-leave-active {
    opacity: 0;
    /*transform: scale(0);*/ }

/*# sourceMappingURL=app.css.map */
